<header class="bg-white dark:bg-midnight-violet-900 shadow-sm border-b border-ash-grey-200 dark:border-midnight-violet-800 sticky top-0 z-30 px-6 py-4 flex items-center justify-between h-[72px] transition-colors duration-300">
    <h1 class="text-2xl font-bold text-midnight-violet-900 dark:text-silver-50">Detail Zařízení</h1>
    <div class="flex items-center space-x-4">
        <button id="deckConfigBtn" onclick="window.openDeckModal()" class="hidden p-2 text-vintage-grape-500 dark:text-vintage-grape-400 hover:text-vintage-grape-700 transition" title="Deck Konfigurace"><i class="fas fa-tv"></i></button>
        <button onclick="window.openFlashModal()" class="p-2 text-yellow-500 dark:text-yellow-400 hover:text-yellow-600 transition" title="Flash MCU"><i class="fas fa-bolt"></i></button>
        <button onclick="window.openEditMCUModal()" class="p-2 text-silver-600 dark:text-silver-400 hover:text-vintage-grape-600 transition"><i class="fas fa-edit"></i></button>
    </div>
</header>