<div class="bg-white rounded-xl border border-ash-grey-200 shadow-sm flex flex-col flex-1 min-h-0 overflow-hidden">
    <div class="p-3 border-b border-ash-grey-100 bg-ash-grey-50 flex justify-between items-center flex-none">
        <h3 class="font-bold text-midnight-violet-900 text-xs uppercase">Seznam Senzorů</h3>
        <button id="sensorOpen" class="w-6 h-6 rounded bg-white border border-ash-grey-200 text-silver-400 hover:text-vintage-grape-600 hover:border-vintage-grape-300 flex items-center justify-center transition-all shadow-sm">
            <i class="fas fa-plus text-xs"></i>
        </button>                        
    </div>
    
    <div id="sensorListContainer" class="overflow-y-auto custom-scrollbar p-0 flex-1">
        </div>
</div>