<div class="bg-white dark:bg-midnight-violet-900 rounded-xl border border-ash-grey-200 dark:border-midnight-violet-800 shadow-sm flex flex-col flex-[3] min-h-0 overflow-hidden transition-colors duration-300">
    <div class="p-3 border-b border-ash-grey-100 dark:border-midnight-violet-800 bg-ash-grey-50 dark:bg-midnight-violet-900/50 flex justify-between items-center flex-none">
        <h3 class="font-bold text-midnight-violet-900 dark:text-silver-200 text-xs uppercase">Seznam Senzorů</h3>
        <button id="sensorOpen" class="w-6 h-6 rounded bg-white dark:bg-midnight-violet-800 border border-ash-grey-200 dark:border-midnight-violet-700 text-silver-400 hover:text-vintage-grape-600 hover:border-vintage-grape-300 flex items-center justify-center transition-all shadow-sm">
            <i class="fas fa-plus text-xs"></i>
        </button>                        
    </div>
    
    <div id="sensorListContainer" class="overflow-y-auto custom-scrollbar p-0 flex-1">
        </div>
</div>