#notificationList::-webkit-scrollbar {
    width: 4px;
}
#notificationList::-webkit-scrollbar-track {
    background: transparent;
}
#notificationList::-webkit-scrollbar-thumb {
    background: #d1d5db; /* světlá šedá pro light mode */
    border-radius: 99px;
}
#notificationList::-webkit-scrollbar-thumb:hover {
    background: #9ca3af;
}

.dark #notificationList::-webkit-scrollbar-thumb {
    background: #4a3f6b;
}
.dark #notificationList::-webkit-scrollbar-thumb:hover {
    background: #6d5b9e;
}